transformers

datasets

jiwer

torchtext==0.6.0

spacy

sudachipy

sudachidict_core

en_core_web_sm

git+https://github.com/facebookresearch/detr.git

git+https://github.com/TapasKumarDutta1/Transformer-pytorch.git

git+https://github.com/TapasKumarDutta1/Manga_translation.git


